{
	"root": true,
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
    "plugin:prettier/recommended"
	],
	"parser": "@typescript-eslint/parser",
  "rules": {
		"indent": [ "warn", 2 ], // スペース。タブなら `tab` と書く
    "linebreak-style": [ "error", "unix" ], // 改行コード (/n をセット)
    "semi": [ "warn", "never" ], // セミコロンをつけない
    "prettier/prettier": [ // prettier との連携
      "error",
      {
        "singleQuote": true,
        "trailingComma": "es5"
      }
    ]
  },
	"env": {
    "es6": true,
    "browser": true
  },
  "parserOptions": {
			"ecmaVersion": 6,
      "sourceType": "module",
      "ecmaFeatures": {
        "jsx": true
      }
  },
  "overrides": [
    {
      "files": ["webpack.config.js"],
      "rules": {
          "strict": "off"
      }
  }
  ]
}
